<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Rin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#212121">
    <meta name="msapplication-square150 150logo" content="https://rin.tishdev.me/img/favicon.png">
    <meta property="og:image" content="https://rin.tishdev.me/img/favicon.png">
    <meta property="og:title" content="Rin" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="A website for Rin Discord bot." />
    <meta property="og:description" content="Discord bot." />
    <meta name="theme-color" content="#212121">
    <meta property="og:url" content="http://rin.tishdev.me/" />
    <meta property="og:site_name" content="Rin" />
    <link rel="canonical" href="https://rin.tishdev.me/" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" href="/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/animate.css" />
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="container">
        <br><br><br><br><br><br><br><br>
        <h2 class="animated fadeInDown" id="main-text"><img class="animated fadeInDown circle responsive-img" height="50" width="50" src="/static/img/error.png" /> Login Error</h2>
        <p class="animated fadeInDown" id="second-text">Sorry, something happened on our behalf. Try again later.</p>
        <div class="center-align">
        <a class="animated fadeInDown waves-effect waves-light btn" href="/" id="btn-home"><i class="fas fa-home"></i> Go back to Home</a>
      </div>
    </div>
    </div>
    <div class="animated fadeInDown fixed-action-btn">
      <a class="animated fadeInDown btn-floating btn-large grey darken-4">
        <i class="fas fa-link fa-fw"></i>
      </a>
      <ul>
        <li><a class="btn-floating indigo accent-3" href="https://discord.io/rindiscord" alt="Discord Server"><i class="fab fa-discord fa-fw"></i></a></li>
        <li><a class="btn-floating purple darken-4" href="https://bot.discord.io/rinbot" alt="Bot Invite"><i class="fas fa-robot"></i></a></li>
        <li><a class="fadeInDown btn-floating orange darken-4" href="https://gitlab.com/Tish/Rin" alt="Bot Source"><i class="fab fa-gitlab"></i></a></li>
        <li><a class="fadeInDown btn-floating indigo accent-4" href="https://discordbots.org/bot/424215611153973268/vote" alt="Vote for Rin"><i class="fas fa-comment-alt fa-lg"></i></a></li>
      </ul>
    </div>
    <script src="/static/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
          hoverEnabled: false
        });
      });
    </script>
</body>

</html>
