body, .navbar {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Questrial', sans-serif;
}

#header-logo {
    margin: 10px 10px;
}

.responsive-img {
    margin: -5px 0px;
}

#btn-home, #btn-login {
    background-color: #212121;
}

#main-text, #second-text, #third-text,
#cmd1, #cmd1-desc, #cmd1-aliases,
#cmd2, #cmd2-desc, #cmd2-aliases,
#cmd3, #cmd3-desc, #cmd3-aliases,
#cmd4, #cmd4-desc, #cmd4-aliases,
#cmd5, #cmd5-desc, #cmd5-aliases {
    color: #FFF;
    text-align: center;
}
